<div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">
      Our track record
    </h2>
    <p class="mt-6 text-lg leading-8 text-gray-300">
      Trusted by thousands of creators worldwide
    </p>
  </div>

  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
    <dl
      class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-4"
    >
      <div class="flex flex-col gap-y-3 border-l border-white/10 pl-6">
        <dt class="text-sm leading-6 text-gray-300">
          Developers on the platform
        </dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-white"
        >
          8,000+
        </dd>
      </div>

      <div class="flex flex-col gap-y-3 border-l border-white/10 pl-6">
        <dt class="text-sm leading-6 text-gray-300">Daily requests</dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-white"
        >
          900m+
        </dd>
      </div>

      <div class="flex flex-col gap-y-3 border-l border-white/10 pl-6">
        <dt class="text-sm leading-6 text-gray-300">Uptime guarantee</dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-white"
        >
          99.9%
        </dd>
      </div>

      <div class="flex flex-col gap-y-3 border-l border-white/10 pl-6">
        <dt class="text-sm leading-6 text-gray-300">Projects deployed</dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-white"
        >
          12m
        </dd>
      </div>
    </dl>
  </div>
</div>
