<div class="flex justify-center items-center min-h-screen">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="card bg-base-100 w-96 shadow-sm p-4 border border-gray-700">
      <div class="card-body">
        <div class="flex flex-col gap-2">
          <h1 class="card-title text-2xl font-bold mb-4">Bienvenido</h1>

          @if (errorMessage) {
            <div role="alert" class="alert alert-error alert-soft">
              <span>{{ errorMessage }}</span>
            </div>
          }
          @if (successMessage) {
            <div role="alert" class="alert alert-success alert-soft">
              <span>{{ successMessage }}</span>
            </div>
          }
          <div>
            <!-- Iniciar con Google -->
            <button class="btn btn-outline w-full mb-4">
              <i class="fa-brands fa-google"></i>
              Iniciar con Google
            </button>
          </div>
          <div class="divider">O</div>
          <!-- Iniciar con email y contraseña -->
          <div class="flex flex-col">
            <label for="name">Nombre</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              [class.input-error]="
                registerForm.get('name')?.invalid &&
                registerForm.get('name')?.touched
              "
              class="input"
              required
            />
            @if (
              registerForm.get("name")?.errors &&
              registerForm.get("name")?.touched
            ) {
              <p class="dark:text-red-400 text-red-500 text-xs">
                @if (registerForm.get("name")?.errors?.["required"]) {
                  El nombre es requerido
                }
                @if (registerForm.get("name")?.errors?.["minlength"]) {
                  El nombre debe tener al menos 2 caracteres
                }
              </p>
            }
          </div>
          <div class="flex flex-col">
            <label for="email">Correo electrónico</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              [class.input-error]="
                registerForm.get('email')?.invalid &&
                registerForm.get('email')?.touched
              "
              class="input"
              required
            />
            @if (
              registerForm.get("email")?.errors &&
              registerForm.get("email")?.touched
            ) {
              <p class="dark:text-red-400 text-red-500 text-xs">
                @if (registerForm.get("email")?.errors?.["required"]) {
                  El email es requerido
                }
                @if (registerForm.get("email")?.errors?.["email"]) {
                  Ingresa un email válido
                }
              </p>
            }
          </div>
          <div class="flex flex-col">
            <label for="password">Contraseña</label>

            <input
              type="password"
              id="password"
              formControlName="password"
              [class.input-error]="
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.touched
              "
              class="input"
              required
            />
            @if (
              registerForm.get("password")?.errors &&
              registerForm.get("password")?.touched
            ) {
              <p class="dark:text-red-400 text-red-500 text-xs">
                @if (registerForm.get("password")?.errors?.["required"]) {
                  La contraseña es requerida
                }
                @if (registerForm.get("password")?.errors?.["minlength"]) {
                  La contraseña debe tener al menos 6 caracteres
                }
              </p>
            }
          </div>
          <div class="flex flex-col">
            <label for="confirmPassword">Confirmar contraseña</label>

            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              [class.input-error]="
                registerForm.get('confirmPassword')?.invalid &&
                registerForm.get('confirmPassword')?.touched
              "
              class="input"
              required
            />
            @if (
              registerForm.get("confirmPassword")?.errors &&
              registerForm.get("confirmPassword")?.touched
            ) {
              <p class="dark:text-red-400 text-red-500 text-xs">
                @if (
                  registerForm.get("confirmPassword")?.errors?.["required"]
                ) {
                  La contraseña es requerida
                }
                @if (
                  registerForm.get("confirmPassword")?.errors?.["minlength"]
                ) {
                  La contraseña debe tener al menos 6 caracteres
                }
              </p>
            }
          </div>
          <div class="flex justify-between items-center gap-3">
            <div class="flex items-center gap-2">
              <input type="checkbox" class="checkbox" id="terms" />
              <label for="terms"
                >Acepto los
                <a class="link link-primary" routerLink="/auth/terms"
                  >términos y condiciones</a
                ></label
              >
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary w-full mb-4 mt-6"
          [disabled]="registerForm.invalid"
        >
          {{ isLoading ? "Cargando..." : "Registrar" }}
        </button>
        <div class="flex justify-center items-center gap-2">
          <span>¿Ya tienes una cuenta?</span>
          <a class="link link-primary" routerLink="/auth/login">
            Iniciar sesión
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
