<section
  class="from-gray-50 dark:from-gray-950 to-gray-50 dark:to-gray-900 via-gray-100 dark:via-gray-900 relative min-h-screen overflow-hidden bg-gradient-to-br pt-24 text-white md:pt-44"
>
  <div
    class="absolute -top-32 -left-32 h-[500px] w-[500px] rounded-full bg-violet-600 opacity-30 mix-blend-overlay blur-3xl"
  ></div>
  <div
    class="absolute right-0 bottom-0 h-[800px] w-[800px] rounded-full bg-cyan-500 opacity-30 mix-blend-overlay blur-2xl delay-1000"
  ></div>
  <div>
    <div class="mx-auto max-w-5xl text-center">
      <h1
        class="text-gray-800 text-4xl font-bold tracking-tight sm:text-6xl dark:text-white"
      >
        Gestiona tus citas y
        <br />
        <span
          class="bg-gradient-to-r from-violet-500 via-blue-500 to-cyan-400 bg-clip-text text-transparent"
        >
          haz crecer tu negocio.
        </span>
      </h1>
      <p
        class="animate-fadeInUp animation-delay-100 text-gray-700 mx-auto mt-4 mb-12 max-w-xl text-lg opacity-0 sm:text-xl dark:text-white/80"
      >
        La plataforma más intuitiva para gestionar citas. Diseñada para
        cualquier tipo de negocio.
      </p>

      <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div
          class="dark:bg-gray-900 animate-scaleIn animation-delay-200 mx-auto max-w-md rounded-2xl bg-white p-1.5 shadow-xl backdrop-blur-xl"
        >
          <div class="flex">
            <label htmlFor="businessName" class="sr-only">
              Nombre del negocio
            </label>
            <input
              id="businessName"
              type="text"
              formControlName="businessName"
              class="dark:bg-gray-800/50 bg-gray-50/50 text-gray-700 flex-1 rounded-l-xl border-none px-4 py-3.5 backdrop-blur-sm transition-all duration-300 focus:ring-2 focus:ring-violet-500/30 focus:outline-none dark:text-white"
            />

            <span
              class="text-gray-700 pointer-events-none absolute top-1/2 left-6 -translate-y-1/2 transform dark:text-white"
            >
              @if (!form.value.businessName) {
                <ngx-typed-js
                  [strings]="[
                    'Veterinaria Patitas',
                    'Mecánica López',
                    'Barbería California',
                    'Cafe Salón',
                    'Centro Deportivo Santana',
                    'Dr. García',
                    'Hotel San Francisco',
                    'Abogados SyL',
                  ]"
                  [typeSpeed]="80"
                  [backSpeed]="20"
                  [loop]="true"
                  [backDelay]="2000"
                  [showCursor]="true"
                  [cursorChar]="'|'"
                  class="inline-block"
                >
                  <span class="typing"></span>
                </ngx-typed-js>
              }
            </span>

            <button
              type="submit"
              class="group relative inline-flex items-center justify-center overflow-hidden rounded-r-xl bg-gradient-to-r from-violet-500 via-blue-500 to-cyan-400 px-6 py-3.5 font-medium text-white transition-all duration-300 hover:from-violet-600 hover:via-blue-600 hover:to-cyan-500"
            >
              <span
                class="absolute inset-0 h-full w-full translate-x-0 -skew-x-12 transform bg-gradient-to-r from-transparent via-white/25 to-transparent opacity-0 transition-transform duration-700 ease-out group-hover:translate-x-full group-hover:opacity-100"
              >
              </span>
              <span class="relative z-10 flex items-center gap-2">
                <span class="hidden sm:block">Comenzar Ahora</span>
                <i-lucide
                  [img]="ArrowRightIcon"
                  class="h-5 w-5 transition-transform duration-700 group-hover:translate-x-1"
                />
              </span>
            </button>
          </div>
        </div>
      </form>
      <div
        class="text-foreground/90 animate-fadeIn animation-delay-300 mt-12 flex flex-wrap justify-center gap-8 opacity-0"
      >
        <div
          class="group text-gray-700 flex items-center gap-2 rounded-xl px-4 py-2 backdrop-blur-sm transition-colors dark:text-white"
        >
          <i-lucide
            [img]="CalendarIcon"
            class="h-5 w-5 transition-transform group-hover:scale-110"
          />
          <span>Prueba Gratis</span>
        </div>
        <div
          class="group text-gray-700 flex items-center gap-2 rounded-xl px-4 py-2 backdrop-blur-sm transition-colors dark:text-white"
        >
          <i-lucide
            [img]="ShieldIcon"
            class="h-5 w-5 transition-transform group-hover:scale-110"
          />
          <span>Sin Compromiso</span>
        </div>
        <div
          class="group text-gray-700 flex items-center gap-2 rounded-xl px-4 py-2 backdrop-blur-sm transition-colors dark:text-white"
        >
          <i-lucide
            [img]="ZapIcon"
            class="h-5 w-5 transition-transform group-hover:scale-110"
          />
          <span>Configuración Instantánea</span>
        </div>
      </div>
    </div>
  </div>
</section>
