<div class="navbar bg-base-100 shadow-lg fixed top-0 left-0 right-0 z-50">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/dashboard">CasanGo</a>
  </div>
  <div class="flex gap-2">
    <input
      type="text"
      placeholder="Search"
      class="input input-bordered w-24 md:w-auto"
    />
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a class="justify-between" routerLink="/dashboard/profile">
            Perfil
          </a>
        </li>
        <li><a>Configuración</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
