<div
  class="navbar fixed top-0 z-50 transition-all duration-300"
  [class.bg-transparent]="!scrolled()"
  [class.bg-base-100]="scrolled()"
>
  <div class="container mx-auto flex justify-between items-center">
    <a class="btn btn-ghost text-xl">CasanGo</a>

    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/pricing">Precios</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
      <li><a routerLink="/auth/login">Login</a></li>
    </ul>
  </div>
</div>
<div class="background-effect">
  <div class="background-effect-inner"></div>
</div>
<router-outlet></router-outlet>
