@if (errorMessage) {
  <div>{{ errorMessage }}</div>
}

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="flex justify-center items-center h-screen">
    <div class="max-w-md">
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2">
          <label for="email"> Email Address </label>
          <input
            type="email"
            id="email"
            formControlName="email"
            [class.invalid]="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
            class="border border-gray-300 rounded-md p-2"
          />
          @if (
            loginForm.get("email")?.invalid && loginForm.get("email")?.touched
          ) {
            <div>
              @if (loginForm.get("email")?.errors?.["required"]) {
                El email es requerido
              }
              @if (loginForm.get("email")?.errors?.["email"]) {
                Ingresa un email válido
              }
            </div>
          }
        </div>
        <div class="flex flex-col gap-2">
          <label for="password"> Password </label>

          <input
            type="password"
            id="password"
            formControlName="password"
            [class.invalid]="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="border border-gray-300 rounded-md p-2"
          />
          @if (
            loginForm.get("password")?.invalid &&
            loginForm.get("password")?.touched
          ) {
            <div>
              @if (loginForm.get("password")?.errors?.["required"]) {
                La contraseña es requerida
              }
              @if (loginForm.get("password")?.errors?.["minlength"]) {
                La contraseña debe tener al menos 6 caracteres
              }
            </div>
          }
        </div>
        <div class="flex flex-col gap-2">
          <div>
            <input type="checkbox" id="rememberme" />
            <label for="rememberme">Remember me</label>
          </div>
          <a>Forgot your password?</a>
        </div>
        <button type="submit">
          {{ isLoading ? "Cargando..." : "Iniciar Sesión" }}
        </button>
      </div>
      <div>
        <span>Don't have an account?</span>
        <a routerLink="/auth/register">Create today!</a>
      </div>
    </div>
  </div>
</form>
