@import "tailwindcss";
@plugin "daisyui";
@plugin 'tailwindcss-animate';

@layer base {
    @font-face {
        font-family: "Inter";
        src: url("/assets/fonts/Inter_24pt-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: "Inter-Bold";
        src: url("/assets/fonts/Inter_24pt-Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: "Inter-Medium";
        src: url("/assets/fonts/Inter_24pt-Medium.ttf") format("truetype");
    }
}

@theme {
    --font-inter: "Inter", sans-serif;
    --font-inter-bold: "Inter-Bold", sans-serif;
    --font-inter-medium: "Inter-Medium", sans-serif;
}

html {
    font-family: var(--font-inter); 
}